{% extends 'base.html.twig' %}

{% block title %}Matches index{% endblock %}

{% block body %}
    <h1>Matches index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score1</th>
                <th>Score2</th>
                <th>DateTime</th>
                <th>Referee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.score1 }}</td>
                <td>{{ match.score2 }}</td>
                <td>{{ match.dateTime ? match.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.referee }}</td>
                <td>
                    <a href="{{ path('app_matches_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('app_matches_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matches_new') }}">Create new</a>
{% endblock %}
